<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.flg.hiromi.pulsecontroller">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PulseCommService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".HeartbeatService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".UDPMessageListActivity"
            android:label="@string/title_udpmessage_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.flg.hiromi.pulsecontroller.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UDPMessageDetailActivity"
            android:label="@string/title_udpmessage_detail"
            android:parentActivityName=".UDPMessageListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.flg.hiromi.pulsecontroller.UDPMessageListActivity" />
        </activity>
    </application>

</manifest>